@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

.theme-bold-font {
    font-family: Inter-Regular !important;
    font-size: 60px;
    line-height: 64px;
    margin: 20px;
}

.styling {
    font-family: Inter-Bold;
    font-size: 40px;

}

body {
    font-size: 14px;
    font-family: Inter-Bold;
    color: #8c979e;
    overflow-x: hidden;
    font-weight: 400;
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 7, 7);
    color: white;
    text-align: center;
    height: 200px;
}

.social-links i {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: rgb(17, 14, 14);
    color: rgb(250, 245, 245);
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover {
    background: blueviolet;
}

.fa-solidfa-magnifying-glass {
    cursor: pointer;
}

.button {
    border: none;
    margin-left: 10%;
    padding: 15px 22px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.button1 {
    background-color: blueviolet;
    margin-left: 1%;
    font-family: Inter-Bold;

}

.button2 {
    background-color: white;
    margin-left: 1%;
    color: black;
}

.button2:hover {
    background-color: black;
    color: white;
    font-family: Inter-Bold;
}

.button1:hover {
    background-color: blueviolet;
    color: black;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;

}

h1 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 300;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
    clear: both;
    box-sizing: inherit;
    display: block;
    font-family:Inter-Bold

}





